name: Build and deploy main branch to production site
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout

      - name: Build Spec
        run: bash ./build.sh

      - name: Branch name
        run: echo Deploying ${GITHUB_REF#refs/heads/} on /4.0/ directory

      - name: Deploy on S3
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: 
            aws s3 sync --acl public-read --region eu-north-1 target/site ${{ secrets.AWS_S3_PATH }}/main

